* {
  box-sizing: border-box;
}
body {
    background-color: rgb(252, 232, 198);;
}
.header {
    background-color: rgb(255, 207, 120);
    display: flex;
    justify-content: start;
}
.header_home {
    align-self: center;
    margin-left: 75px;
}
.header_news {
    align-self: center;
    margin-left: 75px;
}
.hide_home {
    display: none;
}
.hide_news {
    display:none;
}
.header_home:hover + .hide_home {
    display: block;
    align-self: end;
    margin-left: -5%;
    margin-bottom: 1.3%;
    color: black;
}
.header_news:hover + .hide_news {
    display: block;
    align-self: end;
    margin-left: -5%;
    margin-bottom: 1.3%;
    color: black; 
}
.hLinkAbout {
    position:absolute;
    align-self: center;
    margin-left: 80%;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}
.hLinkWrite {
    position:absolute;
    align-self: center;
    margin-left: 90%;
    font-style: italic;
    font-size: larger;
    font-weight: bolder;
}
h1 {
    color: #000089;
    font-family: "bahnschrift";
    font-size: 40px;
    align-self: center;
    margin-left: 20px;
}
p {
    font-family: "Times New Roman";
    align-self: end;
    margin-left: -245px;
}
.contactContainer {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contactLeft { 
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;
}
.contactLeftTitle{
font-family: "bahnschrift";
font-weight: 600;
color: #000089;
font-size: 30px;
margin-bottom: 5px;
}
.contactLeftTitle hr{
border: none;
width: 250px;
height: 5px;
background-color: #000089;
border-radius: 10px;
margin-bottom: 20px;
}
.contactInputs {
width: 340px;
height:50px;
border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
color: #666;
border-radius: 50px;
}
.contactLeft textarea{
height: 140px;
padding-top: 15px;
border-radius: 20px;
}
.contactInputs:hover {
border: 2px solid #000089;
}
.contactInputs:focus {
border: 2px solid #000089;
}
.contactInputs::placeholder {
  color: #000089
}
.contactLeft button {
display: flex;
align-items: center;
padding: 15px 30px;
font-size: 16px;
color: white;
gap: 10px;
border: none;
border-radius: 50px;
background: linear-gradient(90deg, #000089, dodgerBlue, dodgerBlue, #000089);
cursor:pointer;
}